@{
    ViewData["Title"] = "Information About Numerical Methods";
}


<header>
    <h1>الطرق العددية لحل المعادلات التفاضلية</h1>
</header>
<div class="container bounce">
    <div class="inline-text">
        <!-- القسم الأول -->
        <p class="left-text">
            <strong>
                "رَبِّ اغْفِرْ لِي وَلِوَالِدَيَّ وَلِلْمُؤْمِنِينَ يَوْمَ يَقُومُ الْحِسَابُ"
            </strong>
        </p>


    </div>
</div>
<footer>
    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Person" asp-action="Create"><strong>Please Enter Of Data </strong>Person</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Problem" asp-action="Create">Problem <strong>using Adams-Bashforth</strong></a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="ProblemR" asp-action="Create">ProblemR <strong>using Runge-Kutta</strong></a>
        </li>
    </ul>
</footer>
