@model ProblemViewModelController
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Problem</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="NameFunction" class="control-label"></label>
                <input asp-for="NameFunction" class="form-control" />
                <span asp-validation-for="NameFunction" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InitialValue" class="control-label"></label>
                <input asp-for="InitialValue" class="form-control" />
                <span asp-validation-for="InitialValue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastValue" class="control-label"></label>
                <input asp-for="LastValue" class="form-control" />
                <span asp-validation-for="LastValue" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Y0" class="control-label"></label>
                <input asp-for="Y0" class="form-control" />
                <span asp-validation-for="Y0" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="H" class="control-label"></label>
                <input asp-for="H" class="form-control" />
                <span asp-validation-for="H" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PersonId" class="control-label"></label>
                <select asp-for="PersonId" class="form-control" asp-items="ViewBag.PersonId"></select>
                <span asp-validation-for="PersonId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ResultId" class="control-label"></label>
                <select asp-for="ResultId" class="form-control" asp-items="ViewBag.ResultId"></select>
                <span asp-validation-for="ResultId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
